name: android-ci

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: android-app
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: Assemble Debug
        run: ./gradlew :app:assembleDebug --stacktrace
